<a href="https://colab.research.google.com/github/kyungmo90/algorithm-2022/blob/main/python_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2023 1월 5일
#머신러닝

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split # train set과 test set을 나눈다
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

#판다스 불러오기
#sklearn.model_

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Ashopping.csv", encoding = "cp949")
df

,고객ID,이탈여부,총매출액,구매금액대,방문빈도,1회 평균매출액,할인권 사용 횟수,총 할인 금액,고객등급,구매유형,...,구매카테고리수,거주지역,성별,고객 나이대,거래기간,할인민감여부,Recency,Frequency,Monetary,평균 구매주기
0,1,1,4963160,1,22,225598,1,5445,1,3,...,7,6,1,6,3303,0,3,2,1,149.136364
1,2,1,2271520,0,38,59777,22,350995,1,1,...,5,4,0,2,3129,0,5,3,4,81.342105
2,3,1,2484250,0,2,1242125,6,186045,1,2,...,4,6,0,3,3636,0,4,1,4,1817.000000
3,4,1,2778850,0,9,308761,1,5195,2,4,...,4,5,0,4,3637,0,7,4,6,403.111111
4,5,1,4437610,1,10,443761,9,246350,2,4,...,6,6,0,4,3638,0,5,1,4,362.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,12731560,2,35,363759,3,44445,2,3,...,8,6,0,4,4629,1,3,3,1,131.257143
996,997,0,3419010,0,6,569835,6,186545,1,2,...,9,6,0,4,4630,1,7,3,6,770.666667
997,998,0,4612100,1,13,354777,8,260700,2,1,...,1,4,1,6,4631,1,2,1,2,355.230769
998,999,0,5165360,1,28,184477,20,347700,1,3,...,7,5,1,6,3907,0,7,2,6,138.535714
999,1000,0,4323050,1,16,270191,19,367045,2,4,...,6,5,1,6,2118,0,5,1,4,131.375000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   고객ID       1000 non-null   int64
 1   이탈여부       1000 non-null   int64
 2   총매출액       1000 non-null   int64
 3   구매금액대      1000 non-null   int64
 4   방문빈도       1000 non-null   int64
 5   1회 평균매출액   1000 non-null   int64
 6   할인권 사용 횟수  1000 non-null   int64
 7   총 할인 금액    1000 non-null   int64
 8   고객등급       1000 non-null   int64
 9   구매유형       1000 non-null   int64
 10  클레임접수여부    1000 non-null   int64
 11  구매카테고리수    1000 non-null   int64
 12  거주지역       1000 non-null   int64
 13  성별         1000 non-null   int64
 14  고객 나이대     1000 non-null   int64
 15  거래기간       1000 non-null   int64
 16  할인민감여부     1000 non-null   int64
 17  Recency    1000 non-null   int64
 18  Frequency  1000 non-null   int64
 19  Monetary   1000 non-null   int64
 20  평균 구매주기    1000 non-null   float64
dtypes: float64(1), int64(20)
memory usage: 164.2 KB

In [6]:
df.isnull().sum()

고객ID         0
이탈여부         0
총매출액         0
구매금액대        0
방문빈도         0
1회 평균매출액     0
할인권 사용 횟수    0
총 할인 금액      0
고객등급         0
구매유형         0
클레임접수여부      0
구매카테고리수      0
거주지역         0
성별           0
고객 나이대       0
거래기간         0
할인민감여부       0
Recency      0
Frequency    0
Monetary     0
평균 구매주기      0
dtype: int64

In [7]:
#필요열(변수, feature)만 뽑아서 데이터 만들기
X = df[["총매출액", "1회 평균매출액", "할인권 사용 횟수"]]
Y = df["평균 구매주기"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size=0.3, random_state=0)

#model 만들기 회귀 모형
model = KNeighborsRegressor()

#교차 검증 cv는 횟수
score = cross_val_score(model, X_train, Y_train, cv = 5)
print("교차검증 점수:", score)

교차검증 점수: [0.65777511 0.71775927 0.61704877 0.64648606 0.77413476]

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import StratifiedKFold

#필요열(변수, feature)만 뽑아서 데이터 만들기
X = df[["총매출액", "거래기간", "방문빈도"]]
Y = df["이탈여부"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size=0.3, random_state=0)

#model 만들기 회귀 모형
model = KNeighborsClassifier()

# 검증 (Stratified Cross-Validation test)
skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state=0)
scores = cross_val_score(model, X_train, Y_train, cv =skf)
print("교차검증 점수:" ,scores)

교차검증 점수: [0.64285714 0.7        0.67857143 0.67142857 0.70714286]

In [9]:
from sklearn.model_selection import GridSearchCV

#필요열(변수, feature)만 뽑아서 데이터 만들기
X = df[["총매출액", "거래기간", "방문빈도"]]
Y = df["이탈여부"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size=0.3, random_state=0)

#model 만들기 분류류 모형
model = KNeighborsClassifier()

#그리드 인자 검색
mylist = list(range(1, 50))
k_list = [x for x in mylist if x%2 !=0]
parameter_grid = {"n_neighbors": k_list}

#그리드 서치
grid_search = GridSearchCV(model, parameter_grid, cv = 50)
grid_search.fit(X_train, Y_train)

grid_search.best_params_
#grid_search.cv_results

{'n_neighbors': 9}

#흐름을 따라갈것(어떻게 적용할 것인가?)
#기술을 가지고 해석할 수 있는 능력을 길러라

In [10]:
grid_search.best_estimator_ #cv값을 조정해서 예측값에 따라서 또 적절한 cv 값을 도출할 수 있다.

KNeighborsClassifier(n_neighbors=9)

In [11]:
from sklearn.metrics import accuracy_score
be = grid_search.best_estimator_ #최적의 추정치치
pred = be.predict(X_test) #가장 최적의 값을 넣어서 예측한다다
accuracy_score(Y_test, pred) #정확도 검증

0.6433333333333333

#변수 선택

In [40]:
from sklearn.feature_selection import SelectKBest, chi2

#데이터 지정(변수)
X = df.drop(["고객ID", "이탈여부"], axis =1)
Y =  df["이탈여부"]
#데이터 분할
X_train, X_test, Y_train , Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

#일변량 통계기반
selector = SelectKBest()
selector.fit(X_train, Y_train)

score= pd.DataFrame()
score["Chi2"] = selector.scores_
score["p-value"] = selector.pvalues_
score["support"] = selector.get_support()
score["attribute"] = X_train.columns
score[score["support"]== True]

         Chi2       p-value  support  attribute
0   11.220487  8.525018e-04     True       총매출액
1   21.391230  4.462997e-06     True      구매금액대
2   40.530259  3.508018e-10     True       방문빈도
3   31.867994  2.401115e-08     True   1회 평균매출액
8    6.784768  9.389630e-03     True    클레임접수여부
11  12.171897  5.156069e-04     True         성별
13  60.680197  2.435210e-14     True       거래기간
14  86.354376  1.882930e-19     True     할인민감여부
16   6.449529  1.131399e-02     True  Frequency
18  26.728841  3.060664e-07     True    평균 구매주기

In [13]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

selector = SelectFromModel(RandomForestClassifier(n_estimators=100, random_state=0), threshold = "median")
selector.fit(X_train, Y_train)

score = pd.DataFrame()
score["attribute"] = X_train.columns
score["support"] = selector.get_support()
score[score["support"] ==True]

    attribute  support
0        총매출액     True
2        방문빈도     True
3    1회 평균매출액     True
4   할인권 사용 횟수     True
5     총 할인 금액     True
10       거주지역     True
12     고객 나이대     True
13       거래기간     True
14     할인민감여부     True
18    평균 구매주기     True

#데이터 밸런싱
오버샘플링, 언더샘플링

In [14]:
df.describe

<bound method NDFrame.describe of      고객ID  이탈여부      총매출액  구매금액대  방문빈도  1회 평균매출액  할인권 사용 횟수  총 할인 금액  고객등급  \
0       1     1   4963160      1    22    225598          1     5445     1
1       2     1   2271520      0    38     59777         22   350995     1
2       3     1   2484250      0     2   1242125          6   186045     1
3       4     1   2778850      0     9    308761          1     5195     2
4       5     1   4437610      1    10    443761          9   246350     2
..    ...   ...       ...    ...   ...       ...        ...      ...   ...
995   996     0  12731560      2    35    363759          3    44445     2
996   997     0   3419010      0     6    569835          6   186545     1
997   998     0   4612100      1    13    354777          8   260700     2
998   999     0   5165360      1    28    184477         20   347700     1
999  1000     0   4323050      1    16    270191         19   367045     2

     구매유형  ...  구매카테고리수  거주지역  성별  고객 나이대  거래기간  할인민감여부  Recency  Frequency  \
0       3  ...        7     6   1       6  3303       0        3          2
1       1  ...        5     4   0       2  3129       0        5          3
2       2  ...        4     6   0       3  3636       0        4          1
3       4  ...        4     5   0       4  3637       0        7          4
4       4  ...        6     6   0       4  3638       0        5          1
..    ...  ...      ...   ...  ..     ...   ...     ...      ...        ...
995     3  ...        8     6   0       4  4629       1        3          3
996     2  ...        9     6   0       4  4630       1        7          3
997     1  ...        1     4   1       6  4631       1        2          1
998     3  ...        7     5   1       6  3907       0        7          2
999     4  ...        6     5   1       6  2118       0        5          1

     Monetary      평균 구매주기
0           1   149.136364
1           4    81.342105
2           4  1817.000000
3           6   403.111111
4           4   362.800000
..        ...          ...
995         1   131.257143
996         6   770.666667
997         2   355.230769
998         6   138.535714
999         4   131.375000

[1000 rows x 21 columns]>

In [15]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

X_train_under, Y_train_under = RandomUnderSampler(random_state=0).fit_resample(X_train, Y_train) #resample 적용

print("orginal data %s" %Counter(Y))
print("original train data %s" % Counter(Y_train))
print("under train data %s" % Counter(Y_train_under)) #데이터 밸런싱 219개로 두 개를 맞춘다

orginal data Counter({0: 700, 1: 300})
original train data Counter({0: 481, 1: 219})
under train data Counter({0: 219, 1: 219})

In [16]:
#오버 샘플링
from imblearn.over_sampling import SMOTE #synthetic minority over-sammpling technique
X_train_over, Y_train_over =SMOTE(random_state=0).fit_resample(X_train, Y_train)

print("orginal data %s" %Counter(Y))
print("original train data %s" % Counter(Y_train))
print("over train data %s" % Counter(Y_train_over))

orginal data Counter({0: 700, 1: 300})
original train data Counter({0: 481, 1: 219})
over train data Counter({1: 481, 0: 481})

#선형 회귀분석

In [17]:
import seaborn as sns
import numpy as np

In [19]:
df["평균 구매주기"].describe()

count    1000.000000
mean      266.880824
std       254.077398
min        13.980645
25%       111.957671
50%       191.469697
75%       324.386218
max      1956.000000
Name: 평균 구매주기, dtype: float64

In [ ]:
df["평균 구매주기"] = np.log1p(df["평균 구매주기"])
sns.distplot(df["평균 구매주기"])

In [32]:
df.columns

Index(['고객ID', '이탈여부', '총매출액', '구매금액대', '방문빈도', '1회 평균매출액', '할인권 사용 횟수',
       '총 할인 금액', '고객등급', '구매유형', '클레임접수여부', '구매카테고리수', '거주지역', '성별', '고객 나이대',
       '거래기간', '할인민감여부', 'Recency', 'Frequency', 'Monetary', '평균 구매주기'],
      dtype='object')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

num = ["총매출액", "1회 평균매출액", "할인권 사용 횟수", "총 할인 금액", "구매카테고리수", "Frequency", "Monetary"]
cg = ["구매금액대", "고객등급", "구매유형", "클레임접수여부", "거주지역", "성별", "고객 나이대"]

X = df[df.이탈여부 == 0][num+cg]
Y = df[df.이탈여부 == 0]["평균 구매주기"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

#표준화, 원핫인코딩
ct = ColumnTransformer([('scling', StandardScaler(), num), ('onehot', OneHotEncoder(sparse = False), cg)])
ct.fit(X_train)
X_train= ct.transform(X_train)
X_test = ct.transform(X_test)

print(X_train[0])

[-0.42215576 -0.59782402  0.72324173  0.52150413  1.67181667 -0.24075719
  0.52402175  1.          0.          0.          1.          0.
  0.          0.          1.          0.          0.          1.
  0.          0.          0.          0.          1.          0.
  0.          1.          0.          0.          0.          1.
  0.          0.          0.        ]

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

lr = LinearRegression().fit(X_train, Y_train)

Y_pred = lr.predict(X_test)
print("predict value\n", Y_pred)
print("train R2 : [:3f]", format(lr.score(X_train, Y_train)))
print("test R2 : [:3f].format(lr.score(Xtest, Y_test")

rmse = sqrt(mean_squared_error(Y_test, Y_pred))
print("RMSE:[:.3f]".format(rmse))

predict value
 [6.0302701  5.41215677 5.42420867 6.43899079 4.93590919 5.85532849
 4.56394358 3.8038955  5.22290102 5.61752221 5.66755858 3.44015256
 4.32828323 5.41149193 5.83496713 5.04649847 5.12441095 5.61717937
 5.28594149 5.43582927 5.45116422 5.26304722 5.70801146 5.03246422
 4.70523751 5.39010832 5.59724863 4.08965942 4.40771408 5.45203619
 5.39920771 5.65530022 5.27711883 5.7898368  5.34802942 5.55984513
 5.18690689 5.57605304 5.47013415 6.61038086 5.42457581 4.43007687
 4.68874494 4.29082123 4.77392453 5.94844185 4.93573451 5.44179832
 5.29885396 5.79849569 5.44895057 6.13893195 4.70853914 4.72136082
 5.26288015 5.29559649 4.9944117  5.70877743 4.22588554 5.06871067
 5.13133955 4.83694564 4.444105   5.55643915 4.70940657 5.48285624
 5.44463304 4.79091017 5.55952311 3.24002924 5.61109691 5.0678168
 5.25923693 4.69626943 3.98374392 5.84571399 5.66972277 5.3203395
 4.21100319 4.96752541 4.81038608 5.46601131 5.26382683 4.61218179
 5.48213481 5.17219235 4.98828846 5.52966787 4.19525159 5.5089853
 5.46969797 5.38935973 5.17351572 5.20534016 4.91429785 6.35813031
 5.66788764 4.52409599 5.49752159 3.94530143 4.33835684 5.2631977
 5.67208675 5.49947263 5.35220683 4.59383421 5.3399252  5.38654377
 5.32150776 4.50097043 5.56408083 5.43906527 5.80869175 5.98633069
 5.39222338 4.52777812 5.04828617 5.1508452  4.69967278 4.69252584
 5.24701327 5.37848708 5.433188   4.85210521 5.06300221 5.61518791
 5.01385181 4.26065441 5.07688664 4.66393484 3.4206454  5.26628514
 5.79092652 5.3939315  5.26204873 5.09699467 4.52555017 5.58870936
 5.13332833 4.93260002 5.66784458 5.83580719 5.35929363 5.20337026
 4.72002593 5.61656362 5.37078032 5.7625779  3.77297191 5.19005192
 4.55478581 4.86103165 5.30894628 4.67976808 6.06562164 5.11350314
 3.51177436 7.17961493 5.24825306 5.35736988 5.19288244 5.64365322
 6.11833407 4.55593917 4.89008405 5.37955631 5.63349515 4.93923769
 5.68372872 5.12728438 3.00220781 5.30927849 4.66217982 5.95231316
 4.31402908 5.36312525 7.27779018 4.48893564 5.45594905 4.55539835
 7.33762247 6.19083139 5.83765808 5.73043273 5.5576523  5.42047983
 5.5229765  5.60587685 4.38606312 5.31440912 5.58640569 5.05612038
 6.10871889 3.71240753 5.08319795 5.55783262 5.53504333 4.44940591
 5.47047228 4.31735287 6.30996163 3.84011474 5.20005564 5.47507267
 5.13249682 4.60129137 5.20725766 5.77785492 5.5548456  5.15987351]
train R2 : [:3f] 0.7258161445961181
test R2 : [:3f].format(lr.score(Xtest, Y_test
RMSE:[:.3f]

In [38]:
print("절편", np.round(lr.intercept_, 3))
print("가중치(beta)", np.round(lr.coef_, 3))

# 값이 0에 가깝다 -  예측이 거의 다 됐다.
#.

절편 5.204
가중치(beta) [-0.156  0.388 -0.019 -0.01   0.035 -0.29   0.015  0.292 -0.001 -0.29
  0.014 -0.014  0.055  0.036  0.008 -0.099 -0.08   0.08   0.427 -0.082
 -0.06  -0.194 -0.021 -0.078  0.008 -0.055  0.055 -0.427  0.01   0.07
  0.043  0.048  0.257]